.income-list, .expense-list {
    .category-item {
        min-height: 121px;
    }
}

.category-btn, .operations-btn {
    font-size: 14px;
}

.income-create, .income-edit,
.expense-create, .expense-edit {
    .form-control {
        color: #290661;
    }
}

select {
    cursor: pointer;
}

.operations-list, .operations-create, .operations-edit {
    table {
        min-width: 260px;

        thead tr th {
            letter-spacing: 1.33px;
        }
    }
}






