<div class="signup-box d-flex flex-column justify-content-center align-items-center h-100 w-100 m-auto position-absolute">

    <div class="logo mb-5">
        <a href="javascript:void(0)">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>

    <div class="error invalid-feedback text-center mb-3" id="common-error">Неправильные данные</div>

    <form class="form-auth mx-auto px-0">
        <h1 class="h1 text-primary-emphasis fw-bold text-center mb-4">Создайте аккаунт</h1>

        <div>
            <div class="input-group-append">
                <img class="position-absolute" src="/images/icon-full-name.png" alt="Full name icon">
            </div>
            <input type="text" class="form-control py-2 ps-5" id="full-name" placeholder="ФИО">
            <span id="full-name-error" class="error invalid-feedback">Введите корректные ФИО</span>
        </div>
        <div class="mt-2">
            <div class="input-group-append">
                <img class="position-absolute" src="/images/icon-email.png" alt="Email icon">
            </div>
            <input type="email" class="form-control py-2 ps-5" id="email" placeholder="Электронная почта">
            <span id="email-error" class="error invalid-feedback">Введите корректный email</span>
        </div>
        <div class="mt-2">
            <div class="input-group-append">
                <img class="position-absolute" src="/images/icon-password.png" alt="Password icon">
            </div>
            <input type="password" class="form-control py-2 ps-5" id="password" placeholder="Пароль">
            <span id="password-error" class="error invalid-feedback">Заполните пароль</span>
        </div>
        <div class="my-2">
            <div class="input-group-append">
                <img class="position-absolute" src="/images/icon-password.png" alt="Password icon">
            </div>
            <input type="password" class="form-control py-2 ps-5" id="password-repeat"
                   placeholder="Подтверждение пароля">
            <span id="password-repeat-error" class="error invalid-feedback">Пароли должны совпадать</span>
        </div>
        <button class="btn btn-primary w-100 fw-bold my-2" type="submit" id="process-button">Войти</button>
        <p class="mb-0 text-dark">Уже есть аккаунт?<a class="ms-2" href="/login">Войдите в систему</a></p>
    </form>
</div>
