<div class="income-edit">
    <h1 class="h1 text-primary-emphasis text-start mb-4">Редактирование категории доходов</h1>

    <form class="py-3">
        <div class="mb-3 row">
            <div class="col-xxl-4 col-xl-5 col-md-7 col-sm-8">
                <input type="text" class="form-control" id="category-title-input" value="Зарплата">
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-success category-btn" id="update-button">Сохранить</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="/income" class="btn btn-danger category-btn">Отмена</a>
            </div>
        </div>
    </form>
</div>
