<div class="income-list">
    <h1 class="h1 text-primary-emphasis text-start mb-3">Доходы</h1>

    <div class="container text-start p-0">
        <div class="row" id="records">

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-4">
                <div class="modal-body p-0 text-center text-indigo-800 fs-5">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </div>
                <div class="modal-footer p-0 border-0 justify-content-center mt-3">
                    <a class="btn btn-success category-btn" id="delete-link">
                        Да, удалить
                    </a>
                    <button type="button" class="btn btn-danger category-btn" data-bs-dismiss="modal"
                            aria-label="Close">Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
