<div class="operations-list">
    <h1 class="h1 text-primary-emphasis text-start mb-3">Доходы и расходы</h1>

    <div class="btn-toolbar pb-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 mt-2" role="group" aria-label="First group">
            <a href="/operations/create" class="btn btn-success operations-btn">Создать доход</a>
        </div>
        <div class="btn-group me-2 mt-2" role="group" aria-label="Second group">
            <a href="/operations/create" class="btn btn-danger operations-btn">Создать расход</a>
        </div>
    </div>

    <ul class="tabs list-unstyled ps-0 d-flex flex-wrap py-3 mb-0">
        <li class="tab-item me-4 mb-3">
            <button type="button" class="btn btn-outline-secondary fw-bold px-3 filter-btn active" id="today-operations">Сегодня</button>
        </li>
        <li class="tab-item me-4 mb-3">
            <button type="button" class="btn btn-outline-secondary fw-bold px-3 filter-btn" id="week-operations">Неделя</button>
        </li>
        <li class="tab-item me-4 mb-3">
            <button type="button" class="btn btn-outline-secondary fw-bold px-3 filter-btn" id="month-operations">Месяц</button>
        </li>
        <li class="tab-item me-4 mb-3">
            <button type="button" class="btn btn-outline-secondary fw-bold px-3 filter-btn" id="year-operations">Год</button>
        </li>
        <li class="tab-item me-4 mb-3">
            <button type="button" class="btn btn-outline-secondary fw-bold px-3 filter-btn" id="all-operations">Все</button>
        </li>
        <li class="tab-item d-flex align-items-center datepicker form-group p-0 me-4 mb-3">
            <label for="startDatepicker" class="pe-1 fs-6 fw-bold">с</label>
            <div class="input-group date" id="startDatepicker">
                <input type="text" placeholder="Дата" id="start-date-input"
                       class="tab-input datepicker-input form-control shadow-none text-decoration-underline text-center fw-bold border-0">
                <span class="input-group-append"></span>
            </div>

            <label for="endDatepicker" class="pe-1 ms-3 fs-6 fw-bold">по</label>
            <div class="input-group date" id="endDatepicker">
                <input type="text" placeholder="Дата" id="end-date-input"
                       class="tab-input datepicker-input form-control shadow-none text-decoration-underline text-center fw-bold border-0">
                <span class="input-group-append"></span>
            </div>
        </li>
    </ul>


    <div class="card-body py-4">
        <table id="data-table" class="table fs-6">
            <thead>
            <tr class="mb-3 mb-lg-0">
                <th class="text-reset text-center" scope="col">№ операции</th>
                <th class="text-reset text-center" scope="col">Тип</th>
                <th class="text-reset text-center" scope="col">Категория</th>
                <th class="text-reset text-center" scope="col">Сумма</th>
                <th class="text-reset text-center" scope="col">Дата</th>
                <th class="text-reset text-center" scope="col">Комментарий</th>
                <th></th>
            </tr>
            </thead>

            <tbody id="records">

            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-4">
                <div class="modal-body p-0 text-center fs-5">
                    Вы действительно хотите удалить операцию?
                </div>
                <div class="modal-footer p-0 border-0 justify-content-center mt-3">
                    <a class="btn btn-success operations-btn" id="delete-link">
                        Да, удалить
                    </a>
                    <button type="button" class="btn btn-danger operations-btn" data-bs-dismiss="modal"
                            aria-label="Close">Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
